DATABASE_URL=postgresql://postgres:postgres@localhost:5432/email_classifier

# НЕ МЕНЯТЬ, РАССЧИТАНО ПРОФЕССИОНАЛАМИ НА ОСНОВЕ ЭКСПЕРИМЕНТОВ И ДОЛГОЙ РУЧНОЙ АНАЛИТИКИ
RULE_CONFIDENCE_THRESHOLD=0.80
# НЕ МЕНЯТЬ, РАССЧИТАНО ПРОФЕССИОНАЛАМИ НА ОСНОВЕ ЭКСПЕРИМЕНТОВ И ДОЛГОЙ РУЧНОЙ АНАЛИТИКИ
SEMANTIC_SIMILARITY_THRESHOLD=0.75
PROCESSING_CONCURRENCY=5

EMBEDDING_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2

GIGA_CHAT_API_KEY=your_base64_authorization_key
GIGA_CHAT_SCOPE=GIGACHAT_API_PERS
GIGA_CHAT_MODEL=GigaChat-2
GIGA_CHAT_VERIFY_SSL=false
GIGA_CHAT_TIMEOUT=30

LOG_LEVEL=INFO
LOG_FILE=logs/app.log
